<%
var post = page;
%>

<article class="post-container post-container--single">

  <header class="post-header">

    <h1 class="post-title"><%= post.title %></h1>

    <% if (type == 'post') { %>

    <div class="post-meta">
      <time datetime="<%= date(post.date, config.date_format) %>" class="post-meta__date date"><%= date(post.date, config.date_format) %></time>

      <span class="post-meta__tags tags">

          <% if (post.categories && post.categories.length > 0){ %>
            <font class="categories">
            &#8226; 分类:
            <%- list_categories(post.categories, {
              show_count: false,
              class: 'categories',
              style: 'none'
            }) %>
            </font>
          <% } %>

          <% if (post.tags && post.tags.length > 0){ %>
             &#8226; 标签:
            <font class="tags">
              <%- list_tags(post.tags, {
                show_count: false,
                style: 'none',
                class: 'tags'
              }) %>
            </font>
          <% } %>

      </span>

    </div>

    <% } %>

  </header>

  <section id="post-content" class="article-content post">
    <%- post.content %>

  </section>

  <%- partial('comment') %>

  <!-- 添加代码  55-74article-header-->
  <span id="busuanzi_container_page_pv">
     <span id="busuanzi_value_page_pv"></span>
  </span>

  <!-- article.ejs自身代码-->
  <span id="busuanzi_container_page_pv">
          阅读<span id="busuanzi_value_page_pv"></span>
          </span>
            </div>
            </a>
          </div>
        <% } %>
      </div>
      <div class="article-info article-info-index">
        <%if(post.top){%>
          <div class="article-pop-out tagcloud">
            <i class="icon-tuding"></i>
            <a class="article-tag-list-link color3">置顶</a>
          </div>

          <!-- article自身代码 76-89-->
          <header class="article-header">
                  <%- partial('post/title', {class_name: 'article-title'}) %>
                  <% if (!post.noDate){ %>
                  <%- partial('post/date', {class_name: 'archive-article-date', date_format: null}) %>
                  <% } %>

              <!-- 添加代码 -->
              <% if ( !index ){ %>
                  <span class="archive-article-date">
                       <span id="busuanzi_value_page_pv"></span>
                  </span>
              <% } %>
                </header>

</article>
